/* src/index.css */
@import "tailwindcss";

@theme {
  /* This overrides the default 'white' background variable in Tailwind */
  --color-background: #000000;
  
  /* You can also add custom brand colors here */
  --color-electron-blue: #9feaf9;
}

@layer base {
  body {
    @apply bg-background text-white;
  }
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
}
